<p>sobre-mi works!</p>
<html>
    <head>
        <title>miembros</title>
        <link rel="stylesheet" href="sobre-mi.component.css">        
    </head>
    <body class="wallpaper">
        <table   class="Titulo alinea"> 
            <tr>
                <td><img src="img/logo.png" width="100px">TechGeek<img src="img/logo.png" width="100px"></td>
            </tr>
        </table>
        <table class="alinea ">
            <tr>
                <td class="cent">
                    <img src="img/members.png"><br>
                </td>
            </tr>
            <tr>
                <td class="Memb1 ColorL">
                    Miembros
                </td>
            </tr>
        </table>
        <table class="alinea cent2 anch">
            <tr>
                <td colspan="2" class="fondoInTabla">
                    Guido Cisterna
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/member1.jpg" width="100">
                </td>
                <td  class="fondoInTabla justif">
                    Aficionado a la tecnologia y videojuegos, Redactor de noticias
                    avido escritor de modulos de rol, etc.
                </td>
            </tr>
        </table>
        <table class="alinea cent2 anch">
            <tr>
                <td colspan="2" class="fondoInTabla justif">
                    Melissa Balliano
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/member2.jpg" width="100">
                </td>
                <td  class="fondoInTabla">
                    Artista Conceptual, Diseñadora Grafica, Modeladora 3D y diseñadora de personajes.<br>
                </td>
            </tr>
        </table>
        <table class="alinea"><tr><td><a href="Index.html"> Volver</a></td></tr></table>
        
    </body>
</html>
