<app-nav-var></app-nav-var>

<a routerLink="/bienvenida">bienvenida </a><br>
<a routerLink="login">login</a><br>
<a routerLink="registrar">registrar</a><br>
<a routerLink="estadisticas">estadisticas</a><br>
<a routerLink="sobre-mi">sobre-mi</a><br>
<a routerLink="adivinarnumero">adivinar el numero</a><br>
<a routerLink="listado">listado de bandera</a><br>
<a routerLink="Ahorcado">ahorcado</a><br>
<a routerLink="tablero">tateti</a><br>
<a routerLink="">Principal</a><br>
<router-outlet></router-outlet>
